<!DOCTYPE html>
<html>
    <head>
        <title>Страница поиска</title>
    </head>
    <body>
        <h1>Поиск</h1>
        <p>Выберите жанр:</p>
        <div class="choice1">
            <button class="criteria">Комедия</button>
            <button class="criteria">Ужасы</button>
            <button class="criteria">Боевик</button>
            <button class="criteria">Фантастика</button>
            <button class="criteria">Научное</button>
            <button class="criteria">Детектив</button>
            <button class="criteria">Драма</button>
            <button class="criteria">Трагедия</button>
            <button class="criteria">Триллер</button>
        </div>
        
        <p>Выберите возростное ограничение:</p>
        <div class="choice2">
            <button class="criteria">0+</button>
            <button class="criteria">6+</button>
            <button class="criteria">12+</button>
            <button class="criteria">16+</button>
            <button class="criteria">18+</button>
            <button class="criteria">Любое</button>
        </div>

        <div class="search">
            <button class="search-button">Поиск</button>
        </div>
        
        <a href="/s2">2</a> | <a href="/s3">3</a>
    </body>
</html>