<!DOCTYPE html>
<html>
    <head>
        <title>Страница поиска</title>
    </head>
    <body>
        <main>
            <h1>Поиск</h1>
            <p>Жанры:</p>
            <div class="choice1">
                <button class="criteria"data-genre="Биография">Биография</button>
                <button class="criteria"data-genre="Боевик">Боевик</button>
                <button class="criteria"data-genre="Военный">Военный</button>
                <button class="criteria"data-genre="Детектив">Детектив</button>
                <button class="criteria"data-genre="Драма">Драма</button>
                <button class="criteria"data-genre="Историческое">Историческое</button>
                <button class="criteria"data-genre="Катастрофа">Катастрофа</button>
                <button class="criteria"data-genre="Комедия">Комедия</button>
                <button class="criteria"data-genre="Короткометражка">Короткометражка</button>
                <button class="criteria"data-genre="Мелодрама">Мелодрама</button>
                <button class="criteria"data-genre="Мюзикл">Мюзикл</button>
                <button class="criteria"data-genre="Научное">Научное</button>
                <button class="criteria"data-genre="Приключения">Приключения</button>
                <button class="criteria"data-genre="Трагедия">Трагедия</button>
                <button class="criteria"data-genre="Триллер">Триллер<button>
                <button class="criteria"data-genre="Ужасы">Ужасы</button>
                <button class="criteria"data-genre="Фантастика">Фантастика</button>
                <button class="criteria"data-genre="Фэнтези">Фэнтези</button>
                <button class="criteria"data-genre="Хоррор">Хоррор</button>
                <button class="criteria" data-genre="Любое">Любое</button>
            </div>
            
            <p>Возростное ограничение:</p>
            <div class="choice2">
                <button class="criteria" data-age="0+">0+</button>
                <button class="criteria" data-age="6+">6+</button>
                <button class="criteria" data-age="12+">12+</button>
                <button class="criteria" data-age="16+">16+</button>
                <button class="criteria" data-age="18+">18+</button>
                <button class="criteria" data-age="Любое">Любое</button>
            </div>

            <p>Оценки пользователей:</p>
            <div class="choice3">
                <button class="criteria" data-star="9.5">> 9.5</button>
                <button class="criteria" data-star="9">> 9</button>
                <button class="criteria" data-star="8.5">> 8.5</button>
                <button class="criteria" data-star="8">> 8</button>
                <button class="criteria" data-star="7.5">> 7.5</button>
                <button class="criteria" data-star="7">> 7</button>
                <button class="criteria" data-star="6.5">> 6.5</button>
                <button class="criteria" data-star="6">> 6</button>
                <button class="criteria" data-star="5.5">> 5.5</button>
                <button class="criteria" data-star="5">> 5</button>
                <button class="criteria" data-star="0">Любое</button>
            </div>

            <p>Страна производитель:</p>
            <div class="choice4">
                <button class="criteria"data-country="Россия">Россия</button>
                <button class="criteria"data-country="США">США</button>
                <button class="criteria"data-country="Великобритания">Великобритания</button>
                <button class="criteria"data-country="Южная Корея">Южная Корея</button>
                <button class="criteria"data-country="Франция">Франция</button>
                <button class="criteria"data-country="Италия">Италия</button>
                <button class="criteria"data-country="Канада">Канада</button>
                <button class="criteria"data-country="Индия">Индия</button>
                <button class="criteria"data-country="Бразилия">Бразилия</button>
                <button class="criteria"data-country="Испания">Испания</button>
                <button class="criteria"data-country="Япония">Япония</button>
                <button class="criteria"data-country="Германия">Германия</button>
                <button class="criteria"data-country="Китай">Китай</button>
                <button class="criteria"data-country="Новая Зеландия">Новая Зеландия</button>
                <button class="criteria"data-country="Другая">Другая</button>
                <button class="criteria"data-country="Любая">Любая</button>
            </div>

            <!-- <a href="/s2">2</a> -->
        </main>

        

        <div class="search">
            <button class="search-button">Поиск</button>
        </div>
        
        <!-- <div class="results" id="results" style="cursor:pointer;" onclick="window.location.href='templates/s2.html'"></div> -->
        <div class="results" id="results"></div>

        <footer>
            <div class="wrapper">
                <div class="footer_wrapper">
                    <div class="footer_text">
                        <p>Ф.И</p>
                        <p>Ф.И</p>
                        <p>Ф.И</p>
                        <p>(c)2025.</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="{{ url_for('static', filename='Script.js') }}"></script>
    </body>
</html>