<!DOCTYPE html>
<html>
    <head>
        <title>фильм</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="info_wrapper">
                <div class="info">
                    <div class="img_info">
                        Картинка
                    </div>
                    <div class="inf">
                        <h1 class="title">Название</h1>
                        <p class="age">возростное ограничение: </p>
                        <p class="year">год выпуска: </p>
                        <p class="genre">жанр: </p>
                        <p class="country">страна производитель: </p>
                        <p class="rating">оценки пользователей: </p>
                    </div>
                    <div class="content">
                        <p>Содержание фильма</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="/s1">Х</a> 
    </body>
</html>