<!DOCTYPE html>
<html>
<head>
    <title>Результат</title>
</head>
<body>
    <h2>Результаты поиска:</h2>
    <div class="results">
        <div class="results1">
            <div class="result1">Результат 1</div>
        </div>
        <div class="results2">
            <div class="result2">Результат 2</div>
        </div>
        <div class="results3">
            <div class="result3">Результат 3</div>
        </div>
        <div class="results4">
            <div class="result4">Результат 4</div>
        </div>
        <div class="results4">
            <div class="result4">Результат 4</div>
        </div>
    </div>
    
    <div class="update">
            <button class="update-button">Обновить</button>
        </div>
    <a href="/s1">1</a> | <a href="/s3">3</a>
</body>
</html>