<!DOCTYPE html>
<html>
    <head>
        <title>фильм</title>
    </head>
    <body>
        <!-- <div class="wrapper">
            <div class="info_wrapper">
                <div class="info">
                    <div class="img_info">
                        Картинка
                    </div>
                    <div class="inf">
                        <h1 class="title">Название</h1>
                        <p class="age">возростное ограничение: </p>
                        <p class="year">год выпуска: </p>
                        <p class="genre">жанр: </p>
                        <p class="country">страна производитель: </p>
                        <p class="rating">оценки пользователей: </p>
                    </div>
                    <div class="content">
                        <p>Содержание фильма</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="/s1">Х</a>  -->
        <div class="movie-detail">
        <h1>{{ movie.title }}</h1>
        <img src="{{ movie.image }}" alt="{{ movie.title }}" class="movie-poster">
        <p><strong>Жанр:</strong> {{ movie.genre }}</p>
        <p><strong>Возрастное ограничение:</strong> {{ movie.age_rating }}</p>
        <p><strong>Год выпуска:</strong> {{ movie.year }}</p>
        <p><strong>О чём:</strong> {{ movie.info }}</p>
        <button class="back-button" onclick="history.back()">Назад</button>
    </div>
    </body>
</html>